{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Recipe App</title>
</head>
<body>
    <header>
        <h1>Login</h1>
    </header>

    <main>
        {% if error_message %}
            <p class="error-message">{{ error_message }}</p>
        {% endif %}

        <form action="" method="POST" class="login-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-login">Login</button>
        </form>
    </main>
    <footer>
        <img src="{% static 'recipes/images/welcome.jpg' %}" alt="Assorted ingredients">
    </footer>
</body>
</html>