{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Recipe App</title>
</head>
<body>
    <header>
        <h1>Welcome to the Recipe App!</h1>
        <br>
        <a href="{% url 'login' %}" >Login</a>
    </header>
    <main>
        <section>
            <h2>About</h2>
            <p>
                Discover and share recipes from around the world! Whether you're a beginner in the kitchen or an experienced chef, our Recipe App has something for everyone.
                Start exploring today and turn your culinary dreams into reality.
            </p>
        </section>
    </main>
    <footer>
        <img src="{% static 'recipes/images/welcome.jpg' %}" alt="Assorted ingredients">
    </footer>
</body>
</html>